root = true

[*.cs]
indent_size = 4
indent_style = space
tab_width = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

csharp_type_declaration_braces = end_of_line
csharp_brace_style = end_of_line
csharp_other_braces = end_of_line
csharp_prefer_braces = true
resharper_csharp_empty_block_style = together

csharp_blank_lines_after_file_scoped_namespace_directive = true
csharp_blank_lines_inside_namespace = true
resharper_blank_lines_inside_namespace = 2

csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false

csharp_style_var_elsewhere = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
